<%- include('layout/header') %>
<section style="background-color: #eee;">
    
    <div class="container py-5">
      <div class="row">
        <div class="col"><br>
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= dataUser.name%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= dataUser.email%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= dataUser.username%></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Role</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= dataUser.role%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="/changepassword" class="btn btn-primary">Ganti Password</a>
        <% if(dataUser.role == "admin") { %>
            <a href="/edituser" class="btn btn-primary">Kelola User</a>
            <% }%>
      </div>
    </div>
  </section>
  <%- include('layout/footer') %>